html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #415A77;
}

body > header {
  background: #000019;
  box-shadow: 0px 15px 10px -15px #111;
  color: #eee;
  line-height: 3em;
  text-align: center;
}

footer {
  background: #ccc;
  box-shadow: 0px 13px 12px 10px #111;
  height: 4em;
  line-height: 4em;
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
  /* align-content: center;
  display: block;
  overflow: auto;
  margin: 2em 0;
  padding: 0 2em; */
}

.footer {
  flex: 1;
  padding: 1rem;
}