nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  padding-right: 2px;
}

h2 {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

#slogan {
  width: 250px;
  padding-left: 55px;
  color: #a3a4a2;
  font-family: 'Abel', sans-serif;
  font-size: .65em;
  text-transform: uppercase;
}

footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}

input {
  font-family: 'Patrick Hand', cursive;
}


section hr {
  border-bottom: 1px solid #eee;
  height: 0;
}